/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    border: 1px solid #0033FF;
    width: 500px;
    margin: 0 auto;   
}

.title {
    background: url("image/title_background.gif") repeat-x;
    height: 25px;
    line-height: 1.8;
    font-size: 16px;
    padding-left: 4px;
}

.player-info {
    display: -webkit-flex; /* Safari*/
    display: -moz-flex; /*moza */
    display: -ms-flex; /* IE */
    display: -o-flex; /* Opera */
    display: flex; /* dùng để hỗ trợ những trình duyệt còn lại */
}



.info {
    margin-left: 10px;
    height: 100px;
    width: 387px;
    overflow: scroll;
}

.info ul {
    list-style: none;
}

.facts {
    margin-top: 10px;
}

.facts .title {
    background: none;
}

.facts-contian {
    list-style: none;
    margin-left: 50px;
    margin-top: 10px;                    
}

.facts ul li:before {
    content: url("image/star.gif");
    margin-right: 4px;
}

.facts-contian li {
    margin-left: -7px;
}

.post {
    margin-top: 40px;
    padding: 0 4px;
    font-size: 15px;
}

.post-contain {
    position: relative; 
    background: #ECECEC;
    padding: 4px 6px;
}

.post-contain:after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ECECEC;
    top: 100%;
    left: 5%;
}

.post-info {
    margin-left: 67px;
    padding: 1px 0;
}

.post-info a {
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    color: #0c35f1;
}

.comment {
    padding: 20px 6px;
    font-size: 15px;
}

.comment h4 {
    margin-left: 215px;
    font-size: 17px;
}

.comment table input[type="text"] {
    width: 168px;
    height: 16px;
    margin-bottom: 5px;
}

* {
    margin: 0;
    padding: 0;
}

.test {
    width: 110px;   
}