* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    background: #121212;
    color: #505959;
}

.header {
    background: url("image/fill_header.jpg");
    height: 254px;
    position: relative;
    margin-bottom: auto;
}

.site-title {
    background: url("image/logo.jpg") no-repeat;
    width: 353px;
    height: 116px;
    position: absolute;
    top: 53px;
    left: 50px;
}

.site-title h2 {
    color: black;
    font-size: 40px;
    margin-top: 35px;
    margin-left: 100px;
}

.nav {
    position: absolute;
    bottom: -57px;
    left: 68px;
}

.nav ul {
    list-style: none;
}

.nav li {
    display: inline-block;
    margin-left: 1px;
}

.nav li a span {
    display: block;
}

.nav li a {
    color: white;
    font-size: 22px;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    text-align: center;
    display: block;
}

.main {
    margin-top: 114px;
    margin-left: 70px;
    width: 670px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border-bottom: 1px dotted #323232;
}

.sidebar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: #1f1f1f;
    padding: 50px 35px;
    height: 60%;
}

.box-1 {
    border-top: 1px solid #7e7e7e;
    padding-top: 30px;
    padding-bottom: 70px;
}

.box-1 p {
    width: 234px;
}

.box-2 {
    border-top: 1px solid #2c2c2c;
    padding-top: 30px;
}

.box-2 ul {
    list-style-type: none;
}

.box-2 li a {
    color: #707070;
    line-height: 18px;
}

.box-2 li:before {
    content: "";
    border-color: transparent #707070;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.box-2 li {
    margin-left: 26px;
}

.content {
    margin: 50px 0 0 50px;
}

.content-box {
    margin-bottom: 50px;
}

.content input[type="text"] {
    background: #2c2c2c;
    border: none;
    padding: 6px;
    margin: 15px 20px;
}

.later {
    margin-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #323232;
    width: 519px;
}

a.web-info:before {
    content: url("image/arr_1.gif");
    padding: 5px;
}

a.web-info {
    text-decoration: none;
    color: white;
    margin-top: 10px !important;
}

.layer {
    margin-top: 25px;
}

.footer {
    color: #2c2c2c;
    margin-left: 69px;
    padding-bottom: 50px;
}

.a-footer {
    color: #2c2c2c;
}